{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
        <div class="form-group">
            <label class="control-label">Titre de l'annonce</label>
            {{ form_widget(form.title,{'attr':{'class':'form-control' }}) }}
        </div>
        <div class="form-group">
            <label class="control-label">Description de l'annonce</label>
            {{ form_widget(form.description,{'attr':{'class':'form-control' }}) }}
        </div>

        <button type="submit">Valider</button>
    {{ form_end(form) }}
{% endblock %}
