{% extends 'base.html.twig' %}

{% block body %}
   <h1>
       Détail page
   </h1>
    id advert : {{ advert.id }},
    {% if advert.candidateSelect.username is defined %}
        selectionné : {{ advert.candidateSelected.username }}
    {% endif %}

    {% if app.user != advert.createdBy %}
        {% if app.user not in advert.candidates %}
            {{ form(formAdvertContact) }}
        {% endif %}
    {% endif %}

{% endblock %}